In [1]:
print("Meu primeiro codigo no Jupyter")

Meu primeiro codigo no Jupyter

In [2]:
faturamento = 1000
custo = 500

lucro = faturamento - custo
print(lucro)

500

In [3]:
faturamento = 1000
type(faturamento)

int

In [4]:
faturamento = 1000.00
type(faturamento)

float

In [5]:
faturamento = "1.000"
type(faturamento)

str

In [6]:
ganha_bonus = True
type(ganha_bonus)

bool

In [14]:
faturamento = 1000
custo = 500
lucro = faturamento - custo
print(' O faturamento da loja foi ' + str(faturamento) +'O custo da loja foi ' + str(custo) + ' ' +  'Assim, o lucro da loja foi ' + str(lucro) + ' ' + 'reais')

 O faturamento da loja foi 1000O custo da loja foi 500 Assim, o lucro da loja foi 500 reais

In [19]:
faturamento = 2000
custo = 500
lucro = faturamento - custo
# com format
print('O faturamento da loja foi {}. O custo da loja foi {}. Assim, o lucro da loja foi {}'.format(faturamento, custo ,lucro))

# com f-string
print(f"O faturamento foi de {faturamento} e o lucro de {custo}")

O faturamento da loja foi 2000. O custo da loja foi 500. Assim, o lucro da loja foi 1500
O faturamento foi de 2000 e o lucro de 500

In [1]:
faturamento = float(input("Insira o faturamento"))
custo = float(input("Insira o custo"))

print(type(faturamento))
print(type(custo))

lucro = faturamento - custo

print(lucro)

<class 'float'>
<class 'float'>
500.0

In [2]:
salario_hr = float(input("Insira seu salário"))
horas_trabalhadas = float(input("Insira a carga horária trabalhada no mês"))

salario_total = salario_hr * horas_trabalhadas 

print(f"Seu salário é de: {salario_total}")

Seu salário é de: 3220.8

In [4]:
nota1 = float(input("Insira a primeira nota: "))
nota2 = float(input("Insira a segunda nota: "))
nota3 = float(input("Insira a terceira nota: "))
nota4 = float(input("Insira a quarta nota: "))

media_nota = (nota1 + nota2 + nota3 + nota4)/4


print(f"A média das notas é: {media_nota: .2f}")

A média das notas é:  34.50

In [6]:
def soma_lista(numeros):
    return sum(numeros)

numeros = [1, 2, 3, 4, 5]
resultado = soma_lista(numeros)
print(resultado)  # Isso vai imprimir 15

15

In [ ]:
def soma(a, b):
    return a + b

resultado = soma(5, 3)
print(resultado)  # Isso vai imprimir 8